node_modules
/.DS_Store
/package-lock.json
/src/copy/images/10BLACKHOLEPHOTO-superJumbo-v3.jpg
/dist/images/10BLACKHOLEPHOTO-superJumbo-v3.jpg
/src/sass/components/blackholesite-notes.txt
/src/copy/images/.DS_Store
