// @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100');

// @import url("https://use.typekit.net/pak6xxi.css");


.content{
  color: black;
  font-family: "Freight Micro Pro", "freight-micro-pro", sans-serif;


  section {
    &.intro {
      color: white;
      text-shadow: 0px 0px 30px rgba(0,0,0,0.8);
      h4 {
        font: 300 normal 18px/1.5em "Freight Micro Pro", "freight-micro-pro", serif;
        text-align: center;
        letter-spacing: 0.025em;;
        a {
          font-weight: 700;
          &:hover {
            color: #ccc;
          }
        }
      }
    }
    &.bios {
      padding: 10vh 0;
    }

    &.credits {
      h2 {
        letter-spacing: .1em;
      }
      p {
        font-weight: 300;
        &.extra {
          font-style: italic;
        }
      }
    }

    &.statement {
      p {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 1em;
        &.signature {
          text-align: right;
        }
      }
    }

    &.contact {
      a {
        color: rgb(215, 87, 0);
        &:hover {
          color: #666;
        }
      }


      h4 {
        font: 300 normal 18px/1.5em "Freight Micro Pro", "freight-micro-pro", serif;
        text-align: center;
        letter-spacing: 0.025em;
      }
    }
  }
  h1 {
    font: 100 normal 60px/1em "URW DIN", "urw-din", sans-serif;
    &.minor {
      font-size: 18px !important;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: .075em;
    }
  }
  h2 {

    font: 900 normal 16px/1.3em "Freight Micro Pro", "freight-micro-pro", serif;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  h3 {
    font: 300 normal 21px/1.5em "Freight Micro Pro", "freight-micro-pro", serif;
    text-align: center;
    letter-spacing: 0.025em;


  }

  h4 {
    font: 700 normal 18px "URW DIN", "urw-din", sans-serif;
    letter-spacing: .05em;
    text-align: left;
  }

  p {
    font: 500 normal 18px/1.3em "Freight Micro Pro", "freight-micro-pro", serif;
    letter-spacing: .1em;
    &.bio {
      font-size: 16px;
      letter-spacing: .14em;
      font-weight: 300;
    }
  }

  .copyright p{
    font: 300 normal 10px/1em "Freight Micro Pro", "freight-micro-pro", serif;
  }
}
